/* Estilos globais para fonte e espaçamento */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    color: #333;
    background-image: url('https://previews.123rf.com/images/karepastock/karepastock1811/karepastock181101923/150557384-reciclagem-de-carros-velhos-usados-e-destru%C3%ADdos-desmontagem-de-pe%C3%A7as-em-p%C3%A1tios-de-sucata.jpg');
    background-size: cover;
    background-position: center;
}

/* Container centralizado */
.home-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Cabeçalho */
.header {
    text-align: center;
    margin-bottom: 40px; /* Aumenta a distância do cabeçalho */
}

.header h1 {
    color: #2c3e50;
    font-size: 2rem;
    margin-bottom: 10px; /* Adiciona espaço abaixo do título */
    border: 1px solid #ccc; /* Adiciona borda */
    padding: 10px; /* Adiciona espaço interno */
    border-radius: 5px; /* Arredonda os cantos */
}

.header p {
    font-size: 1.2rem;
    margin: 0; /* Remove a margem */
    font-weight: bold; /* Coloca em negrito */
    border: 1px solid #ccc; /* Adiciona borda */
    padding: 10px; /* Adiciona espaço interno */
    border-radius: 5px; /* Arredonda os cantos */
}

/* Botões */
.button-container {
    display: flex;
    justify-content: center; /* Alinha os botões no centro */
    gap: 20px; /* Espaçamento entre os botões */
    margin: 20px 0; /* Espaço acima e abaixo dos botões */
}

.button-container button {
    background-color: #27ae60;
    color: white;
    font-size: 1.2em;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.button-container button:hover {
    background-color: #2ecc71;
    transform: translateY(-3px);
}

.button-container button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos de texto para a parte inferior */
.footer-text {
    text-align: center;
    font-size: 1rem; /* Tamanho da fonte */
    margin-top: 40px; /* Espaço acima */
    font-weight: bold; /* Coloca em negrito */
    border: 1px solid #ccc; /* Adiciona borda */
    padding: 10px; /* Adiciona espaço interno */
    border-radius: 5px; /* Arredonda os cantos */
}
