.container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  .button-container {
    margin: 20px 0;
  }
  
  button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Espaçamento entre os botões */
  }
  
  button:hover {
    background-color: #45a049; /* Verde mais escuro */
  }
  