<div class="container">
    <h1>Bem-vindo ao Sistema de Coleta de Sucata</h1>
    <p>Essa aplicação permite o cadastro de coletores e empresas de reciclagem, a coleta de informações de pontos de coleta e a emissão de alertas sobre materiais disponíveis para coleta.</p>
  
    <!-- Botões para navegação -->
    <div class="button-container">
      <button (click)="navigateTo('/cadastro-coletores')">Cadastro de Coletores</button>
      <button (click)="navigateTo('/pontos-coleta')">Pontos de Coleta</button>
      <button (click)="navigateTo('/alertas')">Alertas</button>
    </div>
</div>
