<div class="container">
  <h2>Pontos de Coleta</h2>
  <form (submit)="onSubmit()">
      <label for="nome">Nome do Comércio ou Empresa:</label>
      <input type="text" id="nome" name="nome" required autocomplete="organization" />

      <label for="endereco">Endereço:</label>
      <input type="text" id="endereco" name="endereco" required autocomplete="address-line1" />

      <label for="telefone">Telefone:</label>
      <input type="tel" id="telefone" name="telefone" required autocomplete="tel" />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required autocomplete="email" />

      <button type="submit" class="form-button">Cadastrar</button>
  </form>
</div>